In [1]:
print("This is my first line of code in python")

This is my first line of code in python

In [2]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [3]:
#a = int(input("enter a"))
a = int(input("Enter the value"))
b = 7
print(int(a) + b)  
print(a - b) 
print(a * b) 
print(float(a/b))
print(a % b) 
print(a ** b)
print(a // b)

Enter the value2
9
-5
14
0.2857142857142857
2
128
0

In [ ]:
#BODMAS
print(4 * 5 - 9 + 6 / 7)

In [ ]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

In [ ]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

In [ ]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

In [ ]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

In [ ]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

In [1]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [2]:
num_with_chars = '_____________*444#___'
print(num_with_chars)
print(num_with_chars.strip('_').rstrip('#').lstrip('*'))

_____________*444#___
444

In [4]:
val = "2 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [5]:
what = val[::-1]
print(what)

selppa 2

In [6]:
#slicing by specifying start and end index
print(val[2:])

apples

In [ ]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

In [ ]:
print(batch[ :-2])

In [ ]:
animals = batch[10:-2]
print(animals)

In [ ]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

In [ ]:
odd_nums_again = nums[ :: 2]
print(odd_nums_again)

In [ ]:
first_name = "Monty"
last_name = 'Python'

In [ ]:
name = first_name + " " + last_name
print(name)

In [ ]:
age = 30
name = 'Bhaskar'
my_age = ("I am "+ str(age) + " years old")
print(my_age)

In [ ]:
My_age = "I am {0} {1} years old".format(name,age) 
print(My_age)

In [ ]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

In [ ]:
#concat and update
name += ' ' + my_age
print(name)